<%= form_for @author do |f| %>
 <p>
	<%= f.label :name %> :
	<%= f.text_field :name %>
 </p>

  <p>
	<%= f.label :nationality%> :
	<%= f.text_field :nationality %>
 </p>

  <p>
	<%= f.label :dob %> :
	<%= f.date_field :dob, :placeholder => 'YYYY-MM-DD'  %>
 </p>
 
  <p>
	<%= f.label :image %> URL :
	<%= f.text_field :image, :placeholder => 'http://www.' %>
 </p>
 
  <%= f.submit %>

<% end %>