<h1><%= @author.name %> </h1>
<%= image_tag @author.image, :class => 'feature' %>
<p><%=@author.nationality%></p>
 <p><%= @author.dob.strftime "%A, %e %B %Y" if @author.dob%></p>
<p><<%=@author.image%></p>

<div class="control">
	<%= link_to 'Edit', edit_author_path(@author) %> 
	<%= button_to 'Delete', @author, :method => 'delete' %>
	</div>


