<%= form_for @article do |f| %>
 <p>
	<%= f.label :headline_english %>
	<%= f.text_field :headline_english %>
 </p>

 <p>
	<%= f.label :headline_other_language  %>
	<%= f.text_field :headline_other_language %>
 </p>


  <p>
	<%= f.label :author_english  %>
	<%= f.text_field :author_english %>
  </p>

   <p>
	<%= f.label :author_other_language %>
	<%= f.text_field :author_other_language %>
   </p>


   <p>
	<%= f.label :source_english %>
	<%= f.text_field :source_english %>
   </p>

    <p>
	<%= f.label :author_other_language %>
	<%= f.text_field :author_other_language %>
   </p>

     <p>
	<%= f.label :date_published, 'Date Published' %>
	<%= f.date_field :date_published, :placeholder => 'YYYY-MM-DD' %>
    </p>


     <p>
	<%= f.label :date_accessed, 'Date Accessed' %>
	<%= f.date_field :date_accessed, :placeholder => 'YYYY-MM-DD' %>
    </p>

    <p>
	<%= f.label :link %>
	<%= f.text_field :link%>
   </p>

    <p>
	<%= f.label :article_text_english %>
	<%= f.text_area :article_text_english %>
   </p>

    <p>
	<%= f.label :article_other_language %>
	<%= f.text_area :article_other_language %>
   </p>

    <p>
	<%= f.label :screen_capture %>
	<%= f.text_field :screen_capture %>
   </p>

   <p>
	<%= f.label :keywords %>
	<%= f.text_field :keywords %>
   </p>

   <p>
	<%= f.label :issues %>
	<%= f.text_field :issues %>
   </p>

   <p>
	<%= f.label :own_notes %>
	<%= f.text_area :own_notes %>
   </p>

   <p>
     <%= hidden_field_tag "article[person_ids][]", nil %>
   <% Person.all.each do |person| %>
     <%= check_box_tag "article[person_ids][]", person.id, @article.person_ids.include?(person.id), id: dom_id(person) %>
     <%= label_tag dom_id(person), person.name %> 
    <% end %>  	
   </p>

	<p>
	  <%= hidden_field_tag "article[organisation_ids][]", nil %>
	<% Organisation.all.each do |organisation| %>
	<%= check_box_tag "article[organisation_ids][]", organisation.id, @article.organisation_ids.include?(organisation.id), id: dom_id(organisation) %>
	<%=  label_tag dom_id(organisation), organisation.name %>
	<% end %>  	
   </p>


<%= f.submit %>

<% end %>

