

 <div class="col-sm-6 col-md-7">
 <div class="page-header">

<h3>Articles</h3>



<%= form_tag articles_results_path, :method => 'get' do %>
  <p>
    <div class="col-xs-3">

    <%= text_field_tag :query, params[:query], :class => "form-control" %>
       </div>
    <%= submit_tag "Search Articles", :name => nil, :class => "btn btn-default" %>
    <% end %> 
  </p>
      </div>


</div>
</div>

 <div class="container"> 


  <div class="col-sm-6 col-md-7">
    <div class="thumb">
  	
  <% @articles.each do |article| %>
  <div class="PicA"> 
  	<%= image_tag article.screen_capture, :class => 'thumb' %>
  </div> 	
      <div class="caption">
        <h4><%= link_to article.headline_english, article %></h4>
      <p>	Source: <%= article.source_english %> </p>
	<p>Date published: <%= article.date_published.strftime "%A, %e %B %Y" %></p>
	<% end %>
      </div>
    </div>
  </div>
</div>
</div>