<h2>Articles</h2>


<%= form_tag articles_results_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search Articles", :article_text_english => nil %>
  </p>
<% end %>


<ul>
	<% @articles.each do |article| %>
	<li><%= link_to article.headline_english, article %></li>
	<%= image_tag article.screen_capture, :class => 'thumb' %>
	<li>Source: <%= article.source_english %></li>
	<li>Date published: <%= article.date_published.strftime "%A, %e %B %Y" %></li>
	<li>Link: <%= link_to article.link, article.link %></li>

	<% end %>

</ul>