<h2>Headline : <%= @article.headline_english%></h2>	

	<ul>
	<li><%= image_tag @article.screen_capture, :class => 'feature' %></li>
	<li>Headline: <%= @article.headline_english %></li>
	<li>Headline (foreign): <%= @article.headline_other_language%></li>	
	<li>Author English : <%= @article.author_english %></li>	
	<li>Source : <%= @article.source_english  %></li>	
	<li>Date Published : <%= @article.date_published.strftime "%A, %e %B %Y" if @article.date_published %></li>
	<li>Date Accessed : <%= @article.date_accessed.strftime "%A, %e %B %Y" if @article.date_accessed %></li>
	<li>Link: <%= link_to @article.link, @article.link %></li>
	<li>Article Text : <%= @article.article_text_english %></li>
	<li>Keywords : <%=@article.keywords %></li> 
	<li>Issues : <%=@article.issues %></li>
	<li>My notes : <%=@article.own_notes%></li>
	<li>People : <ul>
		<% @article.people.each do |person| %>
		<li><%= link_to person.name, person %></li>
		<% end %>
		</ul>
	</li>	
	<li> Organisations : <ul>
	     <% @article.organisations.each do |org| %>
	     <li><%= link_to org.name, org %></li>
	     <% end %>
	</ul>




<div class="controls">
		<%= link_to 'Edit', edit_article_path(@article) %>
		<%= button_to 'Delete', @article, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
</div>	




