<!DOCTYPE html>
<html>
<head>
  <title>Newsview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', '/' %>
<%= link_to 'Articles', articles_path %>
<%= link_to 'New Article', new_article_path %>

<%= yield %>

</body>
</html>
