<div class="col-md-4 col-md-offset-4">
<%= form_for @organisation, :html => { :multipart => true, :class => "form-group" } do |f| %>
 
 <div class="form-group">
	<%= f.label "Name :" %>
	<%= f.text_field :name, :class => 'form-control' %>
 </div>

 <div class="form-group">
    <%= f.label "Year founded :"  %>
    <%= f.text_field :year, :class => 'form-control' %>
 </div>

 <div class="form-group">
    <%= f.label "Your image :" %>
    <%= f.cl_image_upload :file, :class => 'form-control' %>
  </div>


 <div class="form-group">
	<%= f.label "Image URL :" %>
	<%= f.text_field :image, :class => 'form-control' %>
  </div>

 <div class="form-group">
	<%= f.label "Profile :" %>
	<%= f.text_area :profile, :class => 'form-control' %>
   </div>


   <strong>People :</strong> 

  <div class="form-group checkbox inline">

    <%= hidden_field_tag "organisation[person_ids][]", nil %>
    <% Person.all.each do |person| %>
      <%= check_box_tag "organisation[person_ids][]", person.id, @organisation.person_ids.include?(person.id), id: dom_id(person), :class => 'checkbox inline' %>
      <%= label_tag dom_id(person), person.name %>
      <br>
    <% end %>
</div>


  <%= f.submit 'Create Organisation', :class => 'btn btn-primary' %>

   <% end  %>   

   </div> 