
 <div class="col-sm-6 col-md-7">
  <div class="page-header">
 <h3>Organisations</h3>

     
<%= form_tag organisations_results_path, :method => 'get' do %>
<p>
     <div class="col-xs-3">
    <%= text_field_tag :query, params[:query], :class => "form-control" %>
       </div>
    <%= submit_tag "Search Organisations", :name => nil, :class => "btn btn-default" %>

<% end %> 
</p>
   </div>




<div class="container"> 


  <div class="col-sm-6 col-md-7">
    <div class="thumb">


	<% @organisations.each do |org| %>
	<p><h4><%= link_to org.name, org %></h4></p>
	<%= image_tag org.image, :class => 'thumb' %>
	  </div> 	
      <div class="caption">
	<p><strong>Year established : </strong><%= org.year%></p>
	<p><%= org.profile %></p>
  <br>
	<% end %>
</div>
</div>		