<h2>Organisations</h2>

<%= form_tag organisations_results_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search Organisations", :name => nil %>
  </p>
<% end %> 

<ul>
	<% @organisations.each do |org| %>
	<li><%= link_to org.name, org %></li>
	<%= image_tag org.image, :class => 'thumb' %>
	<li> Year established : <%= org.year%></li>
	<li>Profile : <%= org.profile %></li>
	<% end %>
</ul>		