<h2>Name : <%= @organisation.name %></h2>	
	<ul>
	<%= image_tag @organisation.image, :class => 'feature' %>
	<li>Start Year: <%= @organisation.year %></li>
	<li>Profile : <%= @organisation.profile %></li>
	<li> Has the following people : <ul>
	<% @organisation.people.each do |person| %>
		<li><%= link_to person.name, person %></li>
		<% end %>
		</ul>
	</li>	
	</ul>

<div class="controls">
		<%= link_to 'Edit', edit_organisation_path(@organisation) %>
		<%= button_to 'Delete', @organisation, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
</div>	