
  <div class="col-sm-6 col-md-4">
<h4><%= @organisation.name %></h4>	

	<div class="thumbnail">
	<%= image_tag @organisation.image, :class => 'feature' %>
	</div>
	  <div class="caption">
	<p><strong>Start Year: </strong><%= @organisation.year %></p>
	<p><strong>Profile : </strong><%= @organisation.profile %></p>
	<p><strong> Has the following people : </strong><p>
	<% @organisation.people.each do |person| %>
		<p><%= link_to person.name, person %></p>
		<% end %>
	</div>	

	


<div class="controls">
		<%= button_to 'Edit', edit_organisation_path(@organisation), :class => "btn btn-primary dropdown-toggle", :method => :get %>
		<%= button_to 'Delete', @organisation, :method => 'delete', :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger dropdown-toggle" %>
	</div>	
</div>	