
<%= form_for @person, :html => { :multipart => true } do |f| %>
<p>
    <%= f.label "Name :"%>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label "Birthdate :"%>
    <%= f.date_field :birthday %>
</p>

  <p>
    <%= f.label "Upload Your Image :" %>
    <%= f.cl_image_upload :file %>
  </p>


<p>
    <%= f.label "Image URL :" %>
    <%= f.text_field :image %>
</p>

<p>
    <%= f.label :profile %>
    <%= f.text_area :profile %>
</p>




<p>
 Organisations : 
</p>
<p>
    <%= hidden_field_tag "person[organisation_ids][]", nil %>
    <% Organisation.all.each do |organisation| %>
    <%= check_box_tag "person[organisation_ids][]", organisation.id, @person.organisation_ids.include?(organisation.id), id: dom_id(organisation) %>
    <%= label_tag dom_id(organisation), organisation.name %>
    <% end %>
</p>  


 <%= f.submit %>

 <% end  %>   
 