<div class="col-md-4 col-md-offset-4">
<%= form_for @person, :html => { :multipart => true, :class => "form-group" } do |f| %>

<div class="form-group">
    <%= f.label "Name :"%>
    <%= f.text_field :name, :class => 'form-control' %>
</div>

<div class="form-group">
    <%= f.label "Birthdate :"%>
    <%= f.date_field :birthday, :class => 'form-control' %>
</div>

<div class="form-group">
    <%= f.label "Upload Your Image :" %>
    <%= f.cl_image_upload :file, :class => 'form-control' %>
</div>


<div class="form-group">
    <%= f.label "Image URL :" %>
    <%= f.text_field :image, :class => 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :profile %>
    <%= f.text_area :profile, :class => 'form-control' %>
</div>





 <strong>Organisations : </strong> 


<div class="form-group checkbox inline">

    <%= hidden_field_tag "person[organisation_ids][]", nil %>
    <% Organisation.all.each do |organisation| %>
    <%= check_box_tag "person[organisation_ids][]", organisation.id, @person.organisation_ids.include?(organisation.id), id: dom_id(organisation), :class => 'checkbox inline' %>
    <%= label_tag dom_id(organisation), organisation.name %>
    <% end %>
</div>



 <%= f.submit 'Create Person', :class => 'btn btn-primary' %>

 <% end  %>   
 </div>
 