<%= form_for @person do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
</p>

<p>
	<%= f.label :image %>
	<%= f.text_field :image %>
</p>

<p>
	<%= f.label :profile %>
	<%= f.text_field :profile %>
</p>

 <%= f.submit %>

 <% end  %>   